<div class="row">
  <div class="col-xs-12 navbar banner">
    <span class="logo">Ponk</span>
    <!-- <button class="btn btn-primary">Bakgrund</button> -->
    <button class="btn btn-primary" ng-click="pk.saveBoard()">Spara</button>
    <span ng-show="pk.saving">Sparar...</span>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 flex">
    <div class="sidebar" ng-class="{'sidebar-wide': pk.showAddWidget}">

        <span class="btn add-module glyphicon" ng-class="{'glyphicon-menu-left': pk.showAddWidget, 'glyphicon-menu-right': !pk.showAddWidget, }" ng-click="pk.toggleAddWidget()"></span>
        <div ng-show="pk.showAddWidget">
          <form action="" name="pk.add-widget-form" novalidate>
            <div  class="form-group">
              <label for="widgetType"></label>
              <select class="form-control" name="widgetType" ng-model="pk.newWidget.wType" required>
                <option value="text" selected>Text</option>
                <option value="youtube">Youtube</option>
              </select>
              <p ng-show="pk.add-widget-form.widgetType.$invalid && !pk.add-widget-form.widgetType.$pristine">Ej giltig</p>
            </div>

            <div ng-switch="pk.newWidget.wType">

              <div ng-switch-when="youtube" class="form-group">
                <label for="youtube">Youtube</label>
                <input type="text" name="youtube" ng-model="pk.newWidget.content" class="form-control" >
                <p ng-show="pk.add-widget-form.youtube">{{ pk.add-widget-form.youtube }}</p>
              </div>
              <div ng-switch-when="text" class="form-group">
                <label for="formText">Text</label>
                <textarea ng-model="pk.newWidget.content" name="formText" class="form-control"></textarea>
              </div>

            </div>
            <button ng-click="pk.addWidget()" type="button" class="btn btn-default">Lägg till</button>
          </form>
        </div>

        <form id="edit-form" ng-show="pk.showEditWidget">
          <textarea name="content" class="form-control" ng-model="pk.widgetToEdit.content" value=""></textarea>
          <button name="abort" class="btn btn-warning" ng-click="pk.editFormAbort()">Avbryt</button><button name="button" class="btn btn-primary" ng-click="pk.editFormSave()">Spara</button>
        </form>

    </div>
    <div id="main-grid">
      <div class="row">
        <div class="col-xs-12"  gridster>
          <ul>
            <li gridster-item="w" ng-repeat="w in pk.board.widgets">
              <module  remove-fn="pk.deleteWidget(widget)" edit-fn="pk.editWidget($event, widget)" widget="w"></module>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
