<div class="row">
  <div class="col-xs-12 navbar banner">
    <div class="col-xs-2">
      <span class="logo">Ponk</span>
    </div>
    <div class="col-xs-1 col-xs-offset-1">
      <input type="button" class="btn btn-primary" ng-click="pk.saveBoard()" value="{{ pk.saving ? 'Sparar...' : 'Spara' }}">
    </div>
    <div class="col-xs-2" id="board-title">
      <span >{{ pk.board.title }}</span>
    </div>
    <div class="col-xs-1 col-xs-offset-5">
      <input type="button" class="btn btn-default" ui-sref="empty" value="Ny ponk">
    </div>
  </div>
</div>
<div class="row" ng-style="pk.boardstyle">
  <div class="col-xs-12">
    <form id="edit-form" ng-show="pk.showEditWidget" novalidate>
      <textarea name="content" class="form-control" ng-model="pk.widgetToEdit.content" value=""></textarea>
      <button name="abort" class="btn btn-warning" ng-click="pk.editFormAbort()">Avbryt</button><button name="button" class="btn btn-primary" ng-click="pk.editFormSave()">Spara</button>
    </form>
    <div class="sidebar" ng-class="{'sidebar-wide': pk.showAddWidget}" ng-mouseenter="pk.toggleAddWidget()" ng-mouseleave="pk.toggleAddWidget()">

        <span class="btn add-module glyphicon" ng-class="{'glyphicon-menu-left': pk.showAddWidget, 'glyphicon-menu-right': !pk.showAddWidget, }"></span>
        <div ng-show="pk.showAddWidget">

          <form action="" name="addform" novalidate>
            <div  class="form-group">
              <div class="radio-inline">
                <label><input type="radio" name="widgetType" ng-model="pk.newWidget.wType" value="text" checked> Text</label>
              </div>
              <div class="radio-inline">
                <label><input type="radio" name="widgetType" ng-model="pk.newWidget.wType" value="youtube"> Youtube</label>
              </div>
              <div class="radio-inline">
                <label><input type="radio" name="widgetType" ng-model="pk.newWidget.wType" value="image"> Bild</label>
              </div>
            </div>

            <div ng-switch="pk.newWidget.wType">

              <div ng-switch-when="youtube" class="form-group">
                <label for="youtube">Youtube</label>
                <input type="text" name="youtube" ng-model="pk.newWidget.content" ng-pattern="/.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/" class="form-control" >
                <p ng-show="pk.add-widget-form.youtube">{{ pk.add-widget-form.youtube }}</p>
                <p ng-show="addform.youtube.$error.pattern && addform.youtube.$dirty">Inte en giltig youtubelänk</p>
              </div>
              <div ng-switch-when="text" class="form-group">
                <label for="formText">Text</label>
                <textarea ng-model="pk.newWidget.content" name="formText" class="form-control"></textarea>
              </div>
              <div ng-switch-when="image" class="form-group">
                <label for="image">URL till bild</label>
                <input type="url" name="image" ng-model="pk.newWidget.content" class="form-control" >
                <p ng-show="addform.image.$error.url && addform.image.$dirty">Inte en giltig URL</p>
              </div>
            </div>
            <button ng-click="pk.addWidget()" type="button" ng-disabled="!addform.$valid" class="btn btn-default">Lägg till</button>
          </form>
          <div ng-include="'/views/settings.html'"></div>
        </div>

    </div> <!-- //.sidebar -->

    <div id="main-grid">
      <div class="row">
        <div class="col-xs-12" gridster>
          <ul>
            <li gridster-item="w" ng-repeat="w in pk.board.widgets">
              <module remove-fn="pk.deleteWidget(widget)" edit-fn="pk.editWidget($event, widget)" widget="w"></module>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
