<div class="row">
  <div class="col-xs-12 navbar banner">
    <div class="col-xs-2">
      <span class="logo">Ponk</span>
    </div>
    <div class="col-xs-1 col-xs-offset-1">
      <a class="btn btn-primary" ng-click="pk.saveBoard()">{{ pk.saving ? 'Sparar...' : 'Spara' }}</a>
    </div>
    <div class="col-xs-3" id="board-title">
      <span >{{ pk.board.title }}</span>
    </div>
    <div class="col-xs-2 col-xs-offset-3">
      <ul>
        <li>
          <a class="btn btn-default">Settings</a>
          <ul>
            <div ng-include="'/views/settings.html'"></div>
          </ul>
        </li>
        <li>
          <a class="btn btn-default" ui-sref="empty">Ny ponk</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row" ng-style="pk.boardstyle">
  <div class="col-xs-12">


    <script type="text/ng-template" id="editWidgetContent.html">
      <div class="modal-header">
          <h3 class="modal-title">Redigera</h3>
      </div>
      <div class="modal-body" class="edit-modal">
        <form name="editform" novalidate>
          <div ng-switch="widget.wType">
            <div ng-switch-when="text" class="form-group">
              <label for="formText">Text</label>
              <textarea ng-model="widget.content" name="formText" class="form-control"></textarea>
            </div>
            <div ng-switch-when="youtube" class="form-group">
              <label for="youtube">Youtube URL eller ID</label>
              <input type="text" name="youtube" ng-model="widget.youtubeURL" ng-pattern="/(.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*)|(^[\w-_]{11}$)/" class="form-control" >
              <p ng-show="editform.youtube.$error.pattern && editform.youtube.$dirty">Inte en giltig youtubelänk</p>
            </div>
            <div ng-switch-when="image" class="form-group">
              <label for="image">URL till bild</label>
              <input type="url" name="image" ng-model="widget.imageURL" class="form-control" >
              <p ng-show="editform.image.$error.url && editform.image.$dirty">Inte en giltig URL</p>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
          <button class="btn btn-primary" type="button" ng-disabled="!editform.$valid"  ng-click="ok()">Spara</button>
          <button class="btn btn-warning" type="button" ng-click="cancel()">Avbryt</button>
      </div>

    </script>
    <div class="sidebar" ng-mouseenter="pk.toggleAddWidget()" ng-mouseleave="pk.toggleAddWidget()">

        <span class="btn add-module glyphicon" ng-class="{'glyphicon-menu-left': pk.showAddWidget, 'glyphicon-menu-right': !pk.showAddWidget, }"></span>
        <div ng-show="pk.showAddWidget">

          <form action="" name="addform" novalidate>
            <uib-tabset justified="true">
              <uib-tab heading="Text" select="pk.newWidget.wType = 'text'" deselect="pk.newWidget.content = null">
                <label for="formText">Text</label>
                <textarea ng-model="pk.newWidget.content" name="formText" class="form-control"></textarea>
              </uib-tab>
              <uib-tab heading="Youtube" select="pk.newWidget.wType = 'youtube'" deselect="pk.newWidget.youtubeURL = null">
                <label for="youtube">Youtube URL eller ID</label>
                <input type="text" name="youtube" ng-model="pk.newWidget.youtubeURL" ng-pattern="/(.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*)|(^[\w-_]{11}$)/" class="form-control" >
                <p ng-show="pk.add-widget-form.youtube">{{ pk.add-widget-form.youtube }}</p>
                <p ng-show="addform.youtube.$error.pattern && addform.youtube.$dirty">Inte en giltig youtubelänk</p>
              </uib-tab>
              <uib-tab heading="Bild" select="pk.newWidget.wType = 'image'" deselect="pk.newWidget.imageURL = null">
                <label for="image">URL till bild</label>
                <input type="url" name="image" ng-model="pk.newWidget.imageURL" class="form-control" >
                <p ng-show="addform.image.$error.url && addform.image.$dirty">Inte en giltig URL. Glöm inte http://</p>
              </uib-tab>
            </uib-tabset>
            <button ng-click="pk.addWidget()" type="button" ng-disabled="!addform.$valid" class="btn btn-default">Lägg till</button>
          </form>

        </div>

    </div> <!-- //.sidebar -->

    <div id="main-grid">
      <div class="row">
        <div class="col-xs-12" gridster>
          <ul>
            <li gridster-item="w" ng-repeat="w in pk.board.widgets">
              <module remove-fn="pk.deleteWidget(widget)" edit-fn="pk.editWidget(widget)" widget="w"></module>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
