body {
  overflow-y: scroll;
  background: #315c7a;
}

.pointer {
  cursor: pointer;
}

.hand {
  cursor: move;
}

/* Header */
.navbar {
  background: #315c7a;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
}

/* Widgets */
.widgetcontrols {
  padding: 7px;
  width: 100%;
  opacity: 0;
  position: absolute;
  z-index: 100;
  transition: all 0.5s linear;
}

.widgetcontrols span {
  padding: 5px;
  margin-right: 5px;
  font-size: 1.1em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
  background: white;
  float: right;
}

.module {
  white-space: pre-wrap;
  padding: 7px;
}

.module.youtube {
  padding: 0;
}

.module.image {
  padding: 0;
}
.module.image img {
  width: 100%;
  height: auto;
}

/* Grid */

.gridster ul li {
  background: #eee;
}

.gridster ul li:hover .widgetcontrols {
  opacity: 1;
}

.gridster-item {
  overflow: hidden;
}

#main-grid {
  width: 95%;
  margin-left: 5%;
  min-height: 95vh;
}

/* Edit form */
#edit-form {
  width: 500px;
  background: white;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 5px 5px 25px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 25px 11px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 25px 11px rgba(0,0,0,0.75);
}

#edit-form textarea {
  height: 400px;
  resize: none;
}

/* Sidebar */

.sidebar textarea {
  height: 400px;
  resize: none;
}

.sidebar {
  width: 5%;
  height: 100%;
  padding: 10px;
  background: #eee;
  position: absolute;
  left: 0;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

}

.sidebar-wide {
  width: 25%;
}
