body {
  overflow-y: scroll;
  background: #315c7a;
}

.pointer {
  cursor: pointer;
}

/* Header */
.navbar {
  background: #315c7a;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin: 0;
}

/* Widgets */

.widgetcontrols {
  padding: 2px;
  width: 100%;
}
.widgetcontrols span {
  margin-right: 5px;
}
.module {
  white-space: pre-wrap;
  padding: 7px;
}

.module.youtube {
  padding: 0;
}

/* Grid */

.gridster ul li {
  background: #eee;
}

.gridster-item {
  overflow: hidden;
}

#main-grid {
  width: 95%;
  margin-left: 5%;
  min-height: 95vh;
}

/* Edit form */
#edit-form {
  width: 500px;
  background: white;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-shadow: 5px 5px 25px 11px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 25px 11px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 25px 11px rgba(0,0,0,0.75);
}

#edit-form textarea {
  height: 400px;
  resize: none;
}

/* Sidebar */

.sidebar {
  width: 5%;
  height: 100%;
  padding: 10px;
  background: #eee;
  position: absolute;
  left: 0;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  z-index: 100;

}

.sidebar-wide {
  width: 25%;
}
